@use "../../sass/variables" as *;



.header {
    background-color: $background-color-header;
    display: flex;
    gap: 4rem;
    color: white; 
    height: 4rem;
    align-items: end;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    

    .organizacao {
        padding-left: 3rem;
        padding-bottom: 0.3rem;
    }


    .tarefas {
        color: $background-color-header;
        background-color: white;
        width: 10rem;
        display: flex;
        justify-content: center;
        height: 3rem;
        align-items: end;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 0.3rem;
    }
}